data/quiz05/quiz.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="answer" type="xs:string"/>
	<xs:element name="points">
		<xs:complexType>
			<xs:attribute name="values" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="qa">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="question"/>
				<xs:element ref="answer"/>
				<xs:element name="audioclip" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="file" type="xs:string" use="required"/>
						<xs:attribute name="leadtime" type="xs:int" use="optional" default="0"/>
						<xs:attribute name="startTime" type="xs:int" use="optional"/>
						<xs:attribute name="endTime" type="xs:int" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="masterNotes" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="image" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="question" type="xs:string"/>
	<xs:element name="questions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="qa" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quiz">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="round" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="round">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="points"/>
				<xs:element ref="section" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="section">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="questions"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
